<div class="page-header">
<h1>Edit Actor#<%= @actor.id%></h1>
</div>

<form action="/update_actor/<%= @actor.id%>">

<div>
<label>Name</label>
</div>
<div>
<input name="name" value="<%= @actor.name %>">
</div>

<div>
<label>Bio</label>
</div>
<div>
<textarea name="bio"><%= @actor.bio %></textarea>
</div>

<div>
<label>DOB</label>
</div>
<div>
<input name="dob" value="<%= @actor.dob %>">
</div>


<div>
<label>Image_URL</label>
</div>
<div>
<input name="image_url" value="<%= @actor.image_url %>">
</div>

<div>
<button>Update Actor</button>
</div>


</form>
