<h1>Actor <%= @actor.id %></h1>

<table>
  <tr>
    <td><p>Dob</p></td>
    <td><%= @actor.dob %></td>
  </tr>
  <tr>
    <td>Name</td>
    <td><%= @actor.name %></td>
  </tr>
  <tr>
    <td>Bio</td>
    <td><%= @actor.bio %></td>
  </tr>
  <tr>
    <td>Image</td>
    <td><img src="<%= @actor.image_url %>" width="250"></td>
  </tr>
</table>
