<h1>Edit Movie</h1>

<form action="/edit_movie/<%= @movie.id %>">
  <!-- Label and input for title -->
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="the_title" value="<%= @movie.title %>">
  </div>

  <!-- Label and input for year -->
  <div>
    <label for="year">Year</label>
    <input type="number" id="year" name="the_year" value="<%= @movie.year %>">
  </div>

  <!-- Label and input for duration -->
  <div>
    <label for="duration">Duration</label>
    <input type="number" id="duration" name="the_duration" value="<%= @movie.duration %>">
  </div>

  <!-- Label and input for description -->
  <div>
    <label for="description">Description</label>
    <input type="text" id="description" name="the_description" value="<%= @movie.description %>">
  </div>

  <!-- Label and input for image_url -->
  <div>
    <label for="image_url">Image URL</label>
    <input type="url" id="image_url" name="the_image_url" value="<%= @movie.image_url %>">
  </div>

  <div>
    <button>Edit Movie</button>
  </div>
</form>
