<h1>Movie #<%= @movie.id %></h1>

<table>
  <tr>
    <td>
      <img src="<%= @movie.image_url %>" width="320">
    </td>
    <td>
      <%= @movie.title %>
    </td>
    <td>
      <%= @movie.year %>
    </td>
    <td>
      <%= @movie.duration %>
    </td>
    <td>
      <%= @movie.description %>
    </td>
  </tr>
</table>

<a href="/movies">Back</a>
<a href="/movies/<%= @movie.id %>/edit_form">Edit</a>
<a href="/delete_movie/<%= @movie.id %>">Delete</a>
