<h1>Movie Details</h1>

<img src = "<%= @movie.image_url %>" width = "480">

<p><%= @movie.title %></p>
<p><%= @movie.year %></p>
<p><%= @movie.duration %></p>
<p><%= @movie.description %></p>

<a href="http://localhost:3000/movies">Back</a>

<a href="http://localhost:3000/movies/<%= @movie.id %>/edit">Edit</a>

<a href="http://localhost:3000/delete_movie/<%= @movie.id %>">Delete</a>
