<h1>Movie <%= @movie.id %></h1>

<h4>Title</h4>
<%=  %>
<h4>Year</h4>
<p>
  <%=@movie.year%>
</p>
<h4>Duration</h4>
<p>
  <%= @movie.duration %>
</p>
<h4>Description</h4>
<p>
  <%= @movie.description %>
</p>
<h4>Director ID</h4>
<p>
  Director
</p>
<h4>Image</h4>
<img src="<%= @movie.image_url %>" width="320">
