<h1>Edit Director</h1>

<form action="/update_director/<%= @director.id %>">
  <label>Name</label>
  <input type="text" id = "the_name" name="the_name" placeholder="Name" value="<%= @director.name %>">

  <label>Bio</label>
  <input type="text" id = "the_bio" name="the_bio" placeholder="Bio" value = "<%= @director.bio %>" >

  <label>DOB</label>
  <input type="text" id = "the_dob" name="the_dob" placeholder="DOB" value = "<%= @director.dob %>" >

  <label>Image URL</label>
  <input type="text" id = "the_image_url" name="the_image_url" placeholder="Image URL" value = "<%= @director.image_url %>" >

  <button>Submit</button>
</form>
