<h1>Director #<%= @director.id %></h1>

<table>
  <tr>
    <td>
      <img src="<%= @director.image_url %>" width="320">
    </td>
    <td>
      <%= @director.dob %>
    </td>
    <td>
      <%= @director.name %>
    </td>
    <td>
      <%= @director.bio %>
    </td>
  </tr>
</table>

<a href="/directors">Back</a>
<a href="/directors/<%= @director.id %>/edit_form">Edit</a>
<a href="/delete_director/<%= @director.id %>">Delete</a>
