<h1>Director # <%= @director.id %></h1>

<dl>
  <dt><h4>Name</h4></dt>
  <dd><%= @director.name %></dd>

  <dt><h4>DOB</h4></dt>
  <dd><%= @director.dob %></dd>

  <dt><h4>Bio</h4></dt>
  <dd><%= @director.bio %></dd>

  <dt><h4>Image</h4></dt>
  <dd><img src="<%= @director.image_url %>" width = "320"></dd>
</dl>

<a href="/delete_director/<%= @director.id %>"></a>
