<h1>Director #<%= @director.id %></h1>


<dl><dt>dob</dt>
<dd><%=@director.dob%></dd>

<dt>name</dt>
<dd><%=@director.name%></dd>

<dt>bio</dt>
<dd><%=@director.bio%></dd>

<dt>image_url</dt>
<dd><img src="<%=@director.imagine_url%>" width="100"></dd>
</dl>

<a href="/directors">back</a>
