<h1>Director #<%= @director.id %></h1>

<table>
  <tr>
    <td>Title</td>
    <td><%= @director.dob %></td>
  </tr>
  <tr>
    <td>Year</td>
    <td><%= @director.name %></td>
  </tr>
  <tr>
    <td>Duration</td>
    <td><%= @director.bio %></td>
  </tr>
<tr>
    <td>Image</td>
    <td><img src="<%= @director.image_url %>" witdh="320"></td>
  </tr>
</table>

</dl>
