<div class="page-header">
  <h1><%=@director.name%></h1>
</div>

<div class="">
  <ul>
    <li>
      Name: <%=@director.name%>
    </li>
    <li>
      Bio:<%=@director.bio%>
    </li>
    <li>
      Dob:<%=@director.dob%>
    </li>
    <li>
      <img src="<%=@director.image_url%>" alt="" />
    </li>

  </ul>
</div>
