<h1>Edit Actor #<%= @actor.id %></h1>

<form action="http://localhost:3000/update_actor/<%= @actor.id %>">
  <div class="">
    <label for="dob">Date of Birth</label>
    <input type="text" name="dob" value="<%= @actor.dob %>">
  </div>
  <div class="">
    <label for="name">Name</label>
    <input type="text" name="name" value="<%= @actor.name %>">
  </div>
  <div class="">
    <label for="bio">Bio</label>
    <input type="text" name="bio" value="<%= @actor.bio %>">
  </div>
  <div class="">

    <label for="image_url">Image URL</label>
    <input type="text" name="image_url" value="<%= @actor.image_url %>">
  </div>
  <button>Update Actor</button>
</form>
