<h1>Actor #<%= @actor.id %></h1>

<table>
  <tr>
    <td>
      <p>
        Date of Birth
      </p>
    </td>
    <td>
      <p>
        <%=@actor.dob%>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Name
      </p>
    </td>
    <td>
      <p>
        <%=@actor.name%>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Bio
      </p>
    </td>
    <td>
      <p>
        <%=@actor.bio%>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        Image
      </p>
    </td>
    <td>
      <img src="<%= @actor.image_url %>" alt="" width="240"/>
    </td>
  </tr>
</table>

<a href="http://localhost:3000/actors">Back</a>
<a href="http://localhost:3000/actors/<%= @actor.id %>/edit">Edit</a>
<a href="http://localhost:3000/delete_actor/<%= @actor.id %>">Delete</a>
